global: 
  scrape_interval: 15s 
  evaluation_interval: 15s 
scrape_configs: 
- job_name: 'prometheus' 
  scrape_interval: 10s 
  static_configs: 
  - targets: ['0.0.0.0:9090'] 
- job_name: 'hyperledger_metrics' 
  scrape_interval: 10s 
  static_configs: 
  - targets: [
    'peer0.org1.example.com:9443',
    'peer1.org1.example.com:9443',
    'peer0.org2.example.com:9443',
    'peer1.org2.example.com:9443',
    'peer0.org3.example.com:9443',
    'peer1.org3.example.com:9443',
    'orderer.example.com:9443'
  ]
- job_name: 'cadvisor'
  scrape_interval: 5m
  static_configs:
  - targets: ['cadvisor.example.com:8080']

